html, body {
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#particle-slider {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 10rem;
    z-index: 0;
}

