@{
    ViewData["Title"] = "Yi Team Official Website";
}

<div id="particle-slider">
    <div class="slides">
        <div class="slide" data-src="static/images/logo_512x150.png"></div>
    </div>
    <canvas class="draw"></canvas>
</div>

<script src="static/jscripts/particleslider.js"></script>

<script>
    var init = function () {
        var isMobile = navigator.userAgent &&
            navigator.userAgent.toLowerCase().indexOf('mobile') >= 0;
        var isSmall = window.innerWidth < 1000;

        new ParticleSlider({
            ptlGap: isMobile || isSmall ? 3 : 0,
            ptlSize: isMobile || isSmall ? 3 : 1,
            slideDelay: 10,
            mouseForce: 6000,
            //swipeOffset: 10,
            restless: 'false',
            width: 1e9,
            height: 1e9
        });
    }

    init();
</script>