<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>@ViewData["Title"] - Homepage</title>

<link rel="stylesheet" href="~/static/site.min.css" asp-append-version="true" />
</head>
<body>

@RenderBody()

<script src="~/static/site.min.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>